#cps {
    width:1600px; 
   height:700px;
}
#navbar{
    position: sticky;
    height: 50px;
    width: 1600px;
    background: linear-gradient(#0b07f7,#8f07f7c7,#f707d3);
}
#a{
    color: maroon;
}
#a2{
    color: orange;
}#a3{
    color: yellow;
}#a4{
    color: rgb(5, 255, 5);
}#a5{
    color: skyblue;
}
